# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "./cli/test"
      - "./db/sqlc"
      - "./db/sqlx"
      - ./di/wire
      - "./openapi/oapi-codegen"
      - "./openapi/ogen"
      - "./standard/generics"
      - "./standard/http"
      - "./standard/http-multimux"
      - "./standard/iter"
      - "./standard/iter-db"
      - "./standard/lang"
      - "./standard/slog"
      - "./standard/unique"
      - "./test/coverage"
      - "./test/exportexample"
      - "./test/ginkgo"
      - "./test/gotestsum"
      - "./test/runn"
      - "./test/standard"
      - "./tools/eg"
    assignees:
      - blck-snwmn
    schedule:
      interval: "monthly"
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    assignees:
      - blck-snwmn
    schedule:
      interval: "monthly"
    groups:
      dependencies:
        patterns:
          - "*"
