go 1.24.0

use (
	./cli/test
	./db/sqlc
	./db/sqlx
	./openapi/oapi-codegen
	./openapi/ogen
	./standard/generics
	./standard/http
	./standard/http-multimux
	./standard/iter
	./standard/iter-db
	./standard/lang
	./standard/slog
	./standard/unique
	./test/coverage
	./test/exportexample
	./test/gotestsum
	./test/runn
	./test/standard
	./tools/eg
)
