go 1.23.1

use (
	./db/sqlc
	./db/sqlx
	./openapi/mix
	./openapi/oapi-codegen
	./openapi/ogen
	./standard/generics
	./standard/http
	./standard/http-multimux
	./standard/iter
	./standard/lang
	./standard/unique
	./tools/eg
)
