go 1.23.5

use (
	./db/migration/golang-migrate
	./db/sqlc
	./db/sqlx
	./openapi/mix
	./openapi/oapi-codegen
	./openapi/ogen
	./standard/generics
	./standard/http
	./standard/http-multimux
	./standard/iter
	./standard/iter-db
	./standard/lang
	./standard/slog
	./standard/unique
	./test/exportexample
	./test/runn
	./test/standard
	./tools/eg
)
