name: Go test&lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  parse-go-work:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.extract.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: extract
        run: |
          # Extracting the relative path from the use() block of go.work
          DIRS=$(grep '^\s*\.\/' go.work | sed -E 's|^[ \t]*||;s|"||g;s|,||g;s|\)||g')
          JSON="["
          for D in $DIRS; do
            JSON="$JSON\"$D\","
          done
          JSON="${JSON%,}]"
          echo "matrix=$JSON" >> $GITHUB_OUTPUT
  test:
    runs-on: ubuntu-latest
    needs: [parse-go-work]
    strategy:
      fail-fast: false
      matrix:
        directory: ${{ fromJson(needs.parse-go-work.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - name: Run test
        run: |
          go test ./... --shuffle on --parallel 10 --p 10
        working-directory: ${{ matrix.directory }}
