name: Go test&lint

on:
  push:
    branches:
      - main
  pull_request:
    
env:
  GO_VERSION: stable

jobs:
  parse-go-work:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.extract.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - id: extract
        run: echo "matrix=$(go list -m -json | jq -s '.' | jq -c '[.[].Dir]')" >> $GITHUB_OUTPUT
  test:
    runs-on: ubuntu-latest
    needs: [parse-go-work]
    strategy:
      fail-fast: false
      matrix:
        directory: ${{ fromJson(needs.parse-go-work.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: ${{ matrix.directory }}
      - name: Run test
        run: |
          go test ./... --shuffle on --parallel 10 --p 10
        working-directory: ${{ matrix.directory }}
  lint:
    runs-on: ubuntu-latest
    needs: [parse-go-work]
    strategy:
      fail-fast: false
      matrix:
        directory: ${{ fromJson(needs.parse-go-work.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: ${{ matrix.directory }}
      - name: golangci-lint 
        uses: golangci/golangci-lint-action@v7
        with:
          working-directory: ${{ matrix.directory }}
  test-ginkgo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: test/ginkgo
      - name: Install ginkgo
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@latest
      - name: Run ginkgo test
        run: |
          go tool ginkgo -p
        working-directory: test/ginkgo