name: Gotestsum Test & Coverage Summary

on:
  pull_request:

jobs:
  testsum:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - name: Run tests with gotestsum
        run: |
          go tool gotestsum --junitfile report.xml --format testdox -- -coverprofile=coverage.out ./...
        working-directory: test/coverage
      - name: Test Report Summary
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
            name: Tests
            path: "*.xml"
            reporter: java-junit
