name: Gotestsum Test & Coverage Summary

on:
  push:
    branches:
        - main
  pull_request:
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  testsum:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          cache-dependency-path: test/coverage
      - name: Run tests with gotestsum
        run: |
          go tool gotestsum --junitfile report.xml --format testdox  --jsonfile tmp.json.log   --post-run-command "bash -c '
            echo; echo Slowest tests;
            go tool gotestsum tool slowest --num 10 --jsonfile tmp.json.log'" -- -coverprofile=coverage.out ./...
        working-directory: test/coverage
      - name: Test Report Summary
        if: success() || failure()
        uses: dorny/test-reporter@dc3a92680fcc15842eef52e8c4606ea7ce6bd3f3 # v2
        with:
            name: Tests
            path: "test/coverage/*.xml"
            reporter: java-junit
